In [26]:
import requests
import pandas as pd
from tqdm import tqdm
from bs4 import BeautifulSoup

In [10]:
df = pd.read_csv('Quotes.csv')

In [11]:
df.head()

,quote,author,author_id,tags,author_link
0,The world as we have created it is a process o...,Albert Einstein,/author/Albert-Einstein,"change,deep-thoughts,thinking,world",https://quotes.toscrape.com/author/Albert-Eins...
1,"It is our choices, Harry, that show what we tr...",J.K. Rowling,/author/J-K-Rowling,"abilities,choices",https://quotes.toscrape.com/author/J-K-Rowling
2,There are only two ways to live your life. One...,Albert Einstein,/author/Albert-Einstein,"inspirational,life,live,miracle,miracles",https://quotes.toscrape.com/author/Albert-Eins...
3,"The person, be it gentleman or lady, who has n...",Jane Austen,/author/Jane-Austen,"aliteracy,books,classic,humor",https://quotes.toscrape.com/author/Jane-Austen
4,"Imperfection is beauty, madness is genius and ...",Marilyn Monroe,/author/Marilyn-Monroe,"be-yourself,inspirational",https://quotes.toscrape.com/author/Marilyn-Monroe

In [12]:
del df['quote']
del df['author_id']
del df['tags']

In [25]:
df = df.drop_duplicates()

In [36]:
author_info = []
paths = []

for author in tqdm(df.values):
    name = 'Authors/' + author[0] + '.txt'
    link = author[1]
    
    res = requests.get(link)
    soup = BeautifulSoup(res.text,'html.parser')
    
    text = soup.find('div',class_ = 'author-details').text
    
    author_info.append(text.strip())
    paths.append(name)
    
    fd = open(name,'w')
    fd.write(text)
    fd.close()

100%|███████████████████████████████████████████| 50/50 [01:35<00:00,  1.91s/it]

In [37]:
df['author_info'] = author_info
df['paths'] = paths

/var/folders/rq/lwddjvtn5n9gjw05hwrg3hp80000gn/T/ipykernel_22713/2522570885.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['author_info'] = author_info
/var/folders/rq/lwddjvtn5n9gjw05hwrg3hp80000gn/T/ipykernel_22713/2522570885.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['paths'] = paths

In [38]:
df.head()

,author,author_link,author_info,paths
0,Albert Einstein,https://quotes.toscrape.com/author/Albert-Eins...,"Albert Einstein\nBorn: March 14, 1879 in Ulm, ...",Authors/Albert Einstein.txt
1,J.K. Rowling,https://quotes.toscrape.com/author/J-K-Rowling,"J.K. Rowling\nBorn: July 31, 1965 in Yate, Sou...",Authors/J.K. Rowling.txt
3,Jane Austen,https://quotes.toscrape.com/author/Jane-Austen,"Jane Austen\nBorn: December 16, 1775 in Steven...",Authors/Jane Austen.txt
4,Marilyn Monroe,https://quotes.toscrape.com/author/Marilyn-Monroe,"Marilyn Monroe\nBorn: June 01, 1926 in The Uni...",Authors/Marilyn Monroe.txt
6,André Gide,https://quotes.toscrape.com/author/Andre-Gide,"André Gide\nBorn: November 22, 1869 in Paris, ...",Authors/André Gide.txt

In [40]:
df.to_csv('Authors.csv', index = False)