In [98]:
import requests
import pandas as pd
from tqdm import tqdm
from bs4 import BeautifulSoup

In [94]:
data = []

for i in tqdm(range(1,51)):        # Going through each page one by one

    link = 'https://books.toscrape.com/catalogue/page-' + str(i) + '.html'     # Creating link for each page

    res = requests.get(link)                                                   # Sending Request to the link
    soup = BeautifulSoup(res.text, 'html.parser')                              # Creating a soup for that page
    
    
    for sp in soup.find_all('li', class_= 'col-xs-6 col-sm-4 col-md-3 col-lg-3'):
    
        img_link   = 'https://books.toscrape.com/' + sp.find('img').get('src')[3:]
        book_link  = 'https://books.toscrape.com/catalogue/' + sp.find_all('a')[-1].get('href')
        title      = sp.find_all('a')[-1].get('title')
        rating     = sp.find('p').get('class')[-1]
        price      = sp.find('p',class_ = 'price_color').text[2:]
        stock      = sp.find('p', class_ = 'instock availability').text.strip()

        data.append([title, rating, price, stock, book_link, img_link])        # Saving scraped data in a list

100%|███████████████████████████████████████████| 50/50 [01:19<00:00,  1.60s/it]

In [95]:
len(data)

1000

In [100]:
df = pd.DataFrame(data, columns = ['title', 'rating', 'price', 'stock', 'book_link','img_link'])

In [102]:
df.head()

,title,rating,price,stock,book_link,img_link
0,A Light in the Attic,Three,51.77,In stock,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com/media/cache/2c/da/2...
1,Tipping the Velvet,One,53.74,In stock,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com/media/cache/26/0c/2...
2,Soumission,One,50.10,In stock,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com/media/cache/3e/ef/3...
3,Sharp Objects,Four,47.82,In stock,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com/media/cache/32/51/3...
4,Sapiens: A Brief History of Humankind,Five,54.23,In stock,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com/media/cache/be/a5/b...

In [104]:
df.to_csv('books.csv', index = False)